#cssclock {
    height: 270px;
}

#clockanalog {
    background: #012345 url("../images/clock_new_slim.png") no-repeat 0 0;
    float: left;
    height: 250px;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 250px;
}

#clockanalog img {
    border: 0;
    left: 0px;
    position: absolute;
    top: 0px;
}