
html {
    background: #194824;
    /*
    .color-primary-0 { color: #2B803E }
.color-primary-1 { color: #3AB956 }
.color-primary-2 { color: #339D4A }
.color-primary-3 { color: #226431 }
.color-primary-4 { color: #194824 }
    */
}

body {
    color: #3ab956;
    font-size: 16px;
    margin: 0 auto;
    width: 80%;
    min-width: 500px;
    max-width: 700px;
}

form {
    background: #202020;
    margin-bottom: 20px;
    padding: 20px;
}

/* Form */

input {
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}